* {
    box-sizing: border-box;
    color: black;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

header {
    text-align: left;
    margin: 20px;
    padding-bottom: 50px;
}

.Head-Img {
    background-image: url(../images/pink\ camo.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav ul li {
    list-style: none;
    display: inline-flex;
    margin-right: 70px;
}

nav a:hover {
    color: white;
}

/* moving the textof me to same line as the image */
.Img-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
}

.flex-container {
    display: flexbox;
}

/* headshot of me, targeting the image itself */
.Img-card img {
    height: 300;
    width: 200px;
    border: 2px solid maroon;
    border-style: dashed;
}

/* Image for selecting the application */
.Work-card img {
    display: flex;
    border-style: groove;
    border-color: maroon;
    height: 300px;
    width: 600px;
}

/* Similar properties for each card section */
.About-card,
.Work-card,
.Contact-card {
    padding: 30px;
    text-align: left;
    background-color: rgb(230, 180, 189);
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.About-card p {
    font-size: large;
    padding-top: 20px;
    padding-left: 10px;
    text-align: left;
}

.Work-card p {
    padding: 5px;
    font-style: italic;
}

.Contact-card p {
    line-height: 65px;
    text-align: center;
    font-size: large;
}

.Information a:hover {
    color: white;
}

.Information {
    line-height: 50px;
    text-align: center;
    word-spacing: 200px;
    font-size: large;
    letter-spacing: 1px;
    font-family: fantasy;
}

.Footer h4 {
    color: black;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 15px;
}

.Footer {
    background-image: url(../images/pink\ camo.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: medium;
    padding: 15px;
}